<h1>Welcome to Hangman!</h1>
<p>
  Guess a random word from the English language by guessing one letter at a time.<br>
  If the letter you guess is not in the word then you will lose a life.<br>
  You will start the game with 9 lives.<br>
</p>

