<h1><%= @game.name %></h1>

<h2>Guess a letter</h2>
<%= render "guesses/form" %>

<h3>Letters already guessed</h3>
  <div style="padding-bottom: 10px;">
    <% @game.guesses.each do |guess| %>
      <%= guess.letter %>
    <% end %>
  </div>

  <%= button_to "Delete Game", game_path(@game), method: :delete, form: { data: {turbo_confirm: "Are you sure?"} } %>